atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/blob-store
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/recovery
atom.symlink/storage
atom.symlink/themes
atom.symlink/.atom-socket*
atom.symlink/package-deps-state.json

git/gitconfig.local.symlink

vimbackup.symlink/*
!vimbackup.symlink/vim.md
