"*":
  core:
    disabledPackages: [
      "exception-reporting"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    formatTool: "gofmt"
    goPath: "/users/idawson/code/go"
    lintOnSave: true
  gofmt:
    formatTool: "gofmt"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
