"*":
  core:
    disabledPackages: [
      "python-tools"
    ]
  editor:
    fontSize: 16
    invisibles: {}
    tabLength: 4
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "go-plus":
    formatTool: "gofmt"
    lintOnSave: false
    goPath: "/users/idawson/code/go"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
      "text.html.basic"
    ]
  welcome:
    showOnStartup: false
