'.js':
  'it test block':
    'prefix': 'ii'
    'body': """
      it('${1:does this thing}', () => {
        $2
      });
    """

  'describe test block':
    'prefix': 'describe'
    'body': """
      describe('${1:the thing(s) we are testing}', () => {
        ${2:your test here}
      });
    """

  'before each':
    'prefix': 'before'
    'body': """
      beforeEach(() => {
        ${1}
      });
    """

  'new react test':
    'prefix': 'reacttest'
    'body': """
      'use strict';

      import React from 'react';
      import { mount } from 'enzyme';
    """

  'context test block':
    'prefix': 'co'
    'body': """
      context('${1:someContext}', () => {

      });
    """

  'then promise block':
    'prefix': 'then'
    'body': """
      .then((${1:returnValueFromLastPromise}) => {

      });
    """

'.coffee':
  'context test block':
    'prefix': 'co'
    'body': """
      context '${1:someContext}', ->

    """

  'describe test block':
    'prefix': 'desc'
    'body': """
      describe '${1:someDescription}', ->

    """

  'it test block':
    'prefix': 'ii'
    'body': """
      it '${1:doesSomething}', ->

    """
